branches/2.1.0/docs/internal/wsdl/AddUserProjectRoles.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="AddUserProjectRoles" targetNamespace="http://httpconnector.coe.cordys.com/2.0/REST/JIRA" xmlns:tns="http://httpconnector.coe.cordys.com/2.0/REST/JIRA">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://httpconnector.coe.cordys.com/2.0/REST/JIRA">
      <element name="AddUserProjectRoles">
        <complexType>
          <sequence>
            <element type="xs:string" name="username" xmlns:xs="http://www.w3.org/2001/XMLSchema" minOccurs="1" maxOccurs="1" />
            <element type="tns:ctProjects" name="projects" xmlns:xs="http://www.w3.org/2001/XMLSchema" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="AddUserProjectRolesResponse">
        <complexType>
          <sequence>
            <any maxOccurs="unbounded" minOccurs="0" processContents="skip" />
          </sequence>
        </complexType>
      </element>
    
      <complexType name="ctProjects">
      	<sequence>
      		<element name="project" type="tns:ctProject" maxOccurs="unbounded" minOccurs="1"></element>
      	</sequence>
      </complexType>
    
      <complexType name="ctProject">
      	<sequence>
      		<element name="projectid" type="long"></element>
      		<element name="role" type="tns:ctRole"></element>
      	</sequence>
      </complexType>
    
      <complexType name="ctRole">
      	<sequence>
      		<element name="id" type="string"></element>
      		<element name="value">
      			<simpleType>
      				<restriction base="string">
      					<enumeration value="on"></enumeration>
      					<enumeration value="off"></enumeration>
      				</restriction>
      			</simpleType>
      		</element>
      	</sequence>
      </complexType>
    </schema>
  </wsdl:types>
  <wsdl:message name="AddUserProjectRoles">
    <wsdl:part element="tns:AddUserProjectRoles" name="body" />
  </wsdl:message>
  <wsdl:message name="AddUserProjectRolesResponse">
    <wsdl:part element="tns:AddUserProjectRolesResponse" name="body" />
  </wsdl:message>
  <wsdl:portType name="AddUserProjectRolesPortType">
    <wsdl:operation name="AddUserProjectRolesOperation">
      <wsdl:input message="tns:AddUserProjectRoles" />
      <wsdl:output message="tns:AddUserProjectRolesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddUserProjectRolesBinding" type="tns:AddUserProjectRolesPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUserProjectRolesOperation">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddUserProjectRolesService">
    <wsdl:port binding="tns:AddUserProjectRolesBinding" name="AddUserProjectRolesPort">
      <soap:address location="http://cnl1259/cordys/com.eibus.web.soap.Gateway.wcp?organization=o=Telindus,cn=cordys,o=gussow.com" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>